body{
    font-family: "Poppins", sans-serif;
    background-color:gray;
}

h2 {
    color:maroon;
    .p
        color:maroon;
        font-family Helvetica;
        .img-center {
            float:right;
            margin:10px 0 10px 20px;
            padding:5px;
            border-radius:50px;
            
        }
    }

div {
    color:maroon
}